/* theme color */
$--color-primary: #320f83;
$--color-success: #40B883;
$--color-warning: #ffbb00;
$--color-danger: #f86166;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
